Repository nate-d-olson/hap.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: vcf-compatibility, cpp-integration

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: check-ast
    -   id: check-json
    -   id: check-merge-conflict

-   repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
    -   id: black
        args: [--line-length=88]

-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.262'
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix]

-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        args: ["--profile", "black", "--filter-files"]

-   repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
    -   id: mypy
        exclude: ^(docs/|example-plugin/)
        additional_dependencies: [
            'types-requests',
            'types-PyYAML',
        ]
        args: [--ignore-missing-imports]

# Custom hook for checking VCF compatibility
-   repo: local
    hooks:
    -   id: vcf-compatibility
        name: Check VCF compatibility
        entry: python scripts/check_vcf_compatibility.py
        language: system
        files: \.py$
        exclude: ^tests/
        pass_filenames: true

# Custom hook for C++ integration checks
-   repo: local
    hooks:
    -   id: cpp-integration
        name: Check C++ integration
        entry: python scripts/validate_cpp_integration.py
        language: system
        files: \.(pyx|pxd|cpp|h)$
        exclude: ^external/
        pass_filenames: true

Remove non-core components (somatic, bamstats, scmp, xcmp) to focus on core vcfeval functionality
  src/c++/main/CMakeLists.txt
  src/c++/main/scmp.cpp
  src/c++/main/xcmp.cpp
  src/python/Haplo/quantify.py
  src/python/Haplo/scmp.py
  src/python/Haplo/xcmp.py
  src/python/Somatic/Mutect.py
  src/python/Somatic/Mutect.py.corrupted
  src/python/Somatic/Mutect.py.py2.bak
  src/python/Somatic/Mutect_py3.py
  src/python/Somatic/Pisces.py
  src/python/Somatic/Pisces.py.py2.bak
  src/python/Somatic/Pisces.py.truncated.bak
  src/python/Somatic/Pisces_py3.py
  src/python/Somatic/Strelka.py
  src/python/Somatic/Strelka.py.py2.bak
  src/python/Somatic/Strelka.py.py3
  src/python/Somatic/Strelka.py.truncated.bak
  src/python/Somatic/Varscan2.py
  src/python/Somatic/Varscan2.py.py2.bak
  src/python/Somatic/Varscan2.py.truncated.bak
  src/python/Somatic/Varscan2_py3.py
  src/python/Somatic/__init__.py
  src/python/Tools/bamstats.py
  src/python/bamstats.py
  src/python/hap.py
  src/python/qfy.py
  src/python/som.py
  src/sh/compare_sompy.py
  src/sh/compare_sompy_features.py
  src/sh/run_scmp_test.sh
  src/sh/run_sompy_test.sh
  src/sh/run_tests.sh
Due: vcf-compatibility, cpp-integration

Fix bugs in quantify.py and improve CythonSupport for Python 3
  happy.core-requirements.py3.txt
  src/cmake/CythonSupport.cmake
Due: none

Python 3 migration: core functionality focus with vcfeval engine and stratified metrics
  .github/prompt/continue-py3-migration.md
  PYTHON3_CORE.md
  PYTHON3_MIGRATION_SUMMARY.md
  README.md
  install.py
  src/python/Haplo/__init__.py
  src/python/Haplo/blocksplit.py
  src/python/Haplo/cython/mock_internal.py
  src/python/Haplo/quantify.py
  src/python/Haplo/vcfeval.py
  src/python/Tools/bcftools.py
  src/python/Tools/bedintervaltree.py
  src/python/Tools/fastasize.py
  src/python/Tools/parallel.py
  src/python/Tools/vcfextract.py
  src/python/hap.py
  src/python/qfy.py
  test_py3_core.sh
  update_shebangs.py
Due: vcf-compatibility

continuing migration
  .github/prompt/continue-py3-migration-updated.md
  .github/prompt/continue-py3-migration.md
  CMakeLists.txt
  CMakeLists.txt.py3
  PYTHON3_MIGRATION_REVISED.md
  build_logs/happy_help.log
  build_logs/happy_mock_test.log
  build_logs/happy_version.log
  build_logs/py3_install.log
  build_logs/py3_issues.log
  build_logs/py3_test_summary.txt
  install.py
  src/cmake/CythonSupport.cmake
  src/python/Haplo/cython/__init__.py
  src/python/Haplo/cython/_internal.pyx.py2.bak
  src/python/Haplo/cython/cpp_internal.pyx
  src/python/Haplo/cython/cpp_internal.pyx.py2.bak
  src/python/Haplo/quantify.py
  src/python/Haplo/vcfeval.py
  test_py3_build.sh
  test_py3_core.sh
  update_shebangs.py
Due: vcf-compatibility, cpp-integration

Complete Python 3 migration tools and documentation
  CLAUDE.md
  PYTHON3_MIGRATION_FINAL.md
  PYTHON3_MIGRATION_STATUS.md
  PYTHON3_MIGRATION_SUMMARY.md
  PYTHON3_MIGRATION_TOOLS.md
  PYTHON3_MIGRATION_UPDATE.md
  README.md
  external/make_dependencies_py3.sh
  fix_remaining_py3_issues.py
  run_all_py3_tests.sh
  setup.py
  src/cmake/CythonSupport.cmake
  src/python/Haplo/__init__.py
  src/python/Haplo/cython/_internal.pyx
  src/python/Haplo/cython/cpp_internal.pyx
  src/python/Haplo/cython/mock_internal.py
  src/python/Haplo/cython_compat.py
  src/python/Haplo/cython_mock.py
  src/python/Haplo/cython_util.pyx
  src/python/Haplo/happyroc.py
  src/python/Haplo/happyroc.pyx
  src/python/Haplo/quantify.py
  src/python/Haplo/sequence_utils.pyx
  src/python/Haplo/tests/test_cython_modernization.py
  src/python/Haplo/tests/test_py3_compatibility.py
  src/python/Haplo/variant_processing.pyx
  src/python/Haplo/variant_processor.pyx
  src/python/Tools/fastasize.py
  src/python/hap.py
  src/python/ovc.py
  src/python/pre.py
  src/python/qfy.py
  src/sh/compare_extended.py
  src/sh/compare_summaries.py
  src/sh/run_fastasize_test.py
  src/sh/validate_happy_extended.py
  src/sh/validate_happy_summary.py
  test_cython_module_py3.py
  test_string_handling.py
  verify_py3_build.py
Due: vcf-compatibility, cpp-integration

updating install
  install_py3.py
Due: vcf-compatibility

adding codex file
  AGENTS.md
Due: none

modernization implementation - migrating tests to pytest
  .github/workflows/ci.yml
  .github/workflows/python-ci.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  MIGRATION_GUIDE.md
  MIGRATION_SESSION_SUMMARY.md
  PYTHON3_MIGRATION_PROGRESS.md
  README.md
  conftest.py
  doc/vcfeval_best_practices.md
  install.py
  multi-phase-modernization.prompt.md
  pyproject.toml
  pytest.ini
  scripts/migrate_test.py
  setup.py
  src/python/Haplo/cython/__init__.py
  src/sh/run_sompy_fpregion_test.sh
  tests/README.md
  tests/integration/test_blocksplit.py
  tests/integration/test_chrprefix.py
  tests/integration/test_faulty_variants.py
  tests/integration/test_fp_accuracy.py
  tests/integration/test_gvcf_homref.py
  tests/integration/test_hapcmp.py
  tests/integration/test_happy_pg.py
  tests/integration/test_integration.py
  tests/integration/test_multimerge.py
  tests/integration/test_quantify.py
  tests/unit/test_tools.py
  tests/utils.py
  tox.ini
Due: vcf-compatibility

Update multi-phase-modernization roadmap with latest progress
  multi-phase-modernization.prompt.md
Due: none

adding type hints and migrating tests
  PYTHON3_MIGRATION_PROGRESS.md
  src/python/Haplo/cython_compat.py
  src/python/Haplo/happyroc.py
  src/python/Tools/bcftools.py
  tests/integration/test_chrprefix.py
  tests/integration/test_fp_accuracy.py
  tests/integration/test_gvcf_homref.py
  tests/integration/test_integration.py
  tests/integration/test_leftshift.py
  tests/integration/test_multimerge.py
  tests/integration/test_quantify.py
  tests/integration/test_quantify_stratification.py
  tests/unit/test_tools.py
  tests/utils.py
Due: vcf-compatibility

black formatting
  .github/archive/test_cython_module_py3.py
  src/python/Haplo/cython_mock.py
Due: vcf-compatibility

more tests and type hints
  MIGRATION_SESSION_SUMMARY.md
  PYTHON3_MIGRATION_PROGRESS.md
  src/python/Haplo/cython_compat.py
  src/python/Tools/bcftools.py
  tests/integration/test_hapenum.py
  tests/integration/test_pathtraversal.py
Due: vcf-compatibility

continued migration
  .claude/settings.local.json
  .gitignore
  MIGRATION_SESSION_SUMMARY-2025-05-20.md
  MIGRATION_SESSION_SUMMARY.md
  PYTHON3_MIGRATION_PROGRESS.md
  multi-phase-modernization.prompt.md
  src/python/Tools/bcftools.py
  tests/integration/test_decomp.py
  tests/integration/test_fastasize.py
  tests/integration/test_giab.py
  tests/integration/test_hapenum.py
  tests/integration/test_other_vcf.py
  tests/integration/test_pathtraversal.py
  tests/integration/test_performance.py
Due: vcf-compatibility

continued migration
  .github/archive/test_cython_module_py3.py
  .gitignore
  .pre-commit-config.yaml
  multi-phase-modernization.prompt.md
  scripts/migrate_test.py
  src/python/Haplo/blocksplit.py
  src/python/Haplo/cython/__init__.py
  src/python/Haplo/cython/mock__internal.py
  src/python/Haplo/cython/mock_cpp_internal.py
  src/python/Haplo/tests/test_cython_modernization.py
  tests/integration/test_blocksplit.py
  tests/integration/test_chrprefix.py
  tests/integration/test_decomp.py
  tests/integration/test_fastasize.py
  tests/integration/test_faulty_variants.py
  tests/integration/test_giab.py
  tests/integration/test_gvcf_homref.py
  tests/integration/test_hapenum.py
  tests/integration/test_integration.py
  tests/integration/test_leftshift.py
  tests/integration/test_multimerge.py
  tests/integration/test_other_vcf.py
  tests/integration/test_pathtraversal.py
  tests/integration/test_performance.py
  tests/integration/test_quantify.py
  tests/integration/test_quantify_stratification.py
Due: vcf-compatibility

docs: update development environment instructions and ignore local venv; improve onboarding guide
  .codex/plan_2025-05-19.md
  .github/archive/.claude/settings.local.json
  .github/archive/.pylintrc
  .github/archive/.ycm_extra_conf.py
  .github/archive/CMakeCache.txt
  .github/archive/CMakeFiles/3.28.3/CMakeCCompiler.cmake
  .github/archive/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
  .github/archive/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_C.bin
  .github/archive/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
  .github/archive/CMakeFiles/3.28.3/CMakeSystem.cmake
  .github/archive/CMakeFiles/3.28.3/CompilerIdC/CMakeCCompilerId.c
  .github/archive/CMakeFiles/3.28.3/CompilerIdC/a.out
  .github/archive/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
  .github/archive/CMakeFiles/3.28.3/CompilerIdCXX/a.out
  .github/archive/CMakeFiles/CMakeConfigureLog.yaml
  .github/archive/CMakeFiles/cmake.check_cache
  .github/archive/CythonSupport.py3.cmake
  .github/archive/Dockerfile.centos6
  .github/archive/Dockerfile.ubuntu-with-tests
  .github/archive/format.md
  .github/archive/happy.core-requirements.py3.txt
  .github/archive/install.py
  .gitignore
  AGENTS.md
  README.md
Due: vcf-compatibility, cpp-integration

chore: set up dev environment docs and migrate modules
  .codex/plan_2025-05-19.md
  .codex/run_in_container.sh
  .gitignore
  .pre-commit-config.yaml
  happy/__init__.py
  noxfile.py
  pyproject.toml
  requirements-dev.txt
  scratch/cpp_migration.md
  setup.py
  src/python/Haplo/happyroc.py
  src/python/Haplo/sequence_utils.py
  src/python/Haplo/variant_processor.py
Due: vcf-compatibility

chore: remove legacy external artifacts
  external/CMakeLists.txt
  external/make_dependencies.sh
  external/make_dependencies_py3.sh
  external/patches/boost_modern_compiler.patch
  external/rtg.cfg
Due: none

Python 3 migration: Add Python 3 requirements file and modernize bcftools.py
  .gitignore
  happy.requirements.py3.txt
  src/python/Tools/bcftools.py
Due: vcf-compatibility

Update .gitignore with additional exclusions
  .gitignore
Due: none

Update Python 3 migration progress report
  PYTHON3_MIGRATION_PROGRESS.md
Due: none

Update migration session summary for May 20, 2025
  MIGRATION_SESSION_SUMMARY-2025-05-20.md
Due: none

cpp_migration: mark Phase 2/3 tests complete and add Phase 4 progress section
  scratch/cpp_migration.md
Due: none

continued migration
  .claude/settings.local.json
  MIGRATION_SESSION_SUMMARY-2025-05-20.md
  example/callsonly/call_merge.vcf.gz
  example/callsonly/call_merge.vcf.gz.tbi
  example/homref/homref.vcf.gz
  example/homref/homref.vcf.gz.tbi
  example/homref/homref2.vcf.gz
  example/homref/homref2.vcf.gz.tbi
  src/python/Haplo/partialcredit.py
  src/python/Haplo/quantify.py
  src/python/Haplo/vcfeval.py
  src/python/Tools/fastasize.py
  src/python/Tools/vcfextract.py
  src/python/hap.py
  src/python/pre.py
  src/python/qfy.py
  tests/integration/test_leftshift.py
  tests/unit/test_filter.vcf
  tests/unit/test_pre.py
  tests/unit/test_tools.py
  tests/unit/test_vcfeval.py
  tests/unit/test_vcfextract.py
Due: vcf-compatibility

Python 3 migration: string handling and unit testing improvements
  .github/archive/MIGRATION_GUIDE.md
  .github/archive/MIGRATION_SESSION_SUMMARY.md
  .github/archive/PYTHON3_MIGRATION_FINAL.md
  .github/archive/PYTHON3_MIGRATION_PROGRESS.md
  .github/archive/multi-phase-modernization.prompt.md
  README.md
  doc/python3_migration.md
  src/python/Haplo/cython/mock_internal.py
  src/python/Haplo/string_handling.py
  src/python/hap.py
  src/python/qfy.py
  tests/conftest.py
  tests/test_cython_integration.py
  tests/test_happy_integration.py
  tests/test_py3_compatibility.py
  tests/test_qfy_integration.py
  tests/test_string_handling.py
Due: vcf-compatibility

Update CLI tools for Python 3 compatibility and add comprehensive tests
  doc/cli_updates.md
  doc/cli_updates_status.md
  doc/python3_migration.md
  src/python/Somatic/__init__.py
  src/python/Tools/bamstats.py
  src/python/cnx.py
  src/python/ftx.py
  src/python/hap.py
  src/python/ovc.py
  src/python/pre.py
  src/python/qfy.py
  tests/test_cli_source.py
  tests/test_cli_tools.py
  tests/test_ftx_debug.py
  tests/test_ftx_integration.py
  tests/test_happy_integration.py
  tests/test_qfy_integration.py
Due: vcf-compatibility

Add next session prompt with progress and next steps
  doc/next_session_prompt.md
Due: none

modernizarion - cli improvements
  src/python/Somatic/__init__.py
  src/python/Tools/bamstats.py
  src/python/pre.py
  tests/test_cli_source.py
  tests/test_cli_tools.py
  tests/test_ftx_debug.py
  tests/test_ftx_integration.py
Due: vcf-compatibility

Remove ftx.py functionality and Somatic module as part of modernization effort
  doc/cli_updates.md
  doc/cli_updates_status.md
  doc/spec.md
  pyproject.toml
  src/python/CMakeLists.txt
  src/python/Somatic/__init__.py
  src/python/ftx.py
  tests/test_cli_source.py
  tests/test_ftx_debug.py
  tests/test_ftx_integration.py
Due: vcf-compatibility

Remove non-core components for Python 3 migration
  .claude/settings.local.json
  doc/cli_updates.md
  doc/cli_updates_status.md
  doc/next_session_prompt.md
  doc/python3_migration.md
  pyproject.toml
  session_summary.md
  src/c++/lib/quantify/XCmpQuantify.cpp
  src/c++/lib/quantify/XCmpQuantify.hh
  src/c++/lib/scmp/AlleleMatcher.cpp
  src/c++/lib/scmp/BlockAlleleCompare.cpp
  src/c++/lib/scmp/DistanceBasedMatcher.cpp
  src/c++/lib/scmp/HapSetMatcher.cpp
  src/c++/lib/scmp/HapSetMatcherImpl.hh
  src/python/Tools/bamstats.py
  src/python/hap.py
  tests/integration/test_blocksplit.py
  tests/test_cli_source.py
  tests/test_cli_tools.py
Due: vcf-compatibility, cpp-integration

Fix type annotations and dependency management for Python 3 migration
  doc/archive/python3_migration_progress.md
  doc/dependency_management.md
  doc/development_plan.md
  doc/migration_summary.md
  doc/next_session_prompt.md
  doc/string_handling.md
  pyproject.toml
  src/python/Haplo/cython/mock_internal.py
  src/python/Haplo/string_handling.py
Due: vcf-compatibility

cleaning up instruction files.
  .github/copilot-instructions.md
  .github/instructions/workflow.instructions.md
Due: none

next migration step
  src/python/Haplo/cython/mock_internal.py
  src/python/Haplo/string_handling.py
  src/python/hap.py
Due: vcf-compatibility

fixing precomit errors
  .claude/settings.local.json
  .github/archive/test_cython_module_py3.py
  pyproject.toml
  src/python/Haplo/cython/__init__.py
  src/python/Haplo/happyroc.py
  src/python/Haplo/partialcredit.py
  src/python/Haplo/quantify.py
  src/python/Haplo/tests/test_cython_modernization.py
  src/python/Haplo/vcfeval.py
  src/python/Tools/fastasize.py
  src/python/Tools/vcfextract.py
  src/python/hap.py
  tests/integration/test_chrprefix.py
  tests/integration/test_decomp.py
  tests/integration/test_faulty_variants.py
  tests/integration/test_fp_accuracy.py
  tests/integration/test_giab.py
  tests/integration/test_gvcf_homref.py
  tests/integration/test_hapenum.py
  tests/integration/test_happy_pg.py
  tests/integration/test_integration.py
  tests/integration/test_leftshift.py
  tests/integration/test_multimerge.py
  tests/integration/test_other_vcf.py
  tests/integration/test_pathtraversal.py
  tests/integration/test_performance.py
  tests/integration/test_quantify.py
  tests/integration/test_quantify_stratification.py
  tests/test_happy_integration.py
  tests/unit/test_filter.vcf
  tests/unit/test_pre.py
  tests/unit/test_vcfeval.py
  tests/unit/test_vcfextract.py
Due: vcf-compatibility

Update pre-commit configuration: exclude src/sh/ for ruff and comment out mypy setup
  .pre-commit-config.yaml
Due: none

Refactor code for consistency and readability; update pre-commit configuration to exclude specific directories and enhance linting rules.
  pyproject.toml
  src/python/Haplo/happyroc.py
  src/python/Haplo/partialcredit.py
  src/python/Haplo/quantify.py
  src/python/Tools/bcftools.py
  src/python/Tools/fastasize.py
  src/python/Tools/vcfextract.py
  src/python/ovc.py
  src/python/pre.py
  src/python/qfy.py
  tests/integration/test_quantify.py
  tox.ini
Due: vcf-compatibility
